*{
  font-family: Verdana;
  font-size: 18px;
}

#introduction{
  text-align: center;
  align-items: center;
  font-size: 30px;
}


.container {
  background-color: darkslategray;  
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  width: fit-content;
  gap: 10px 10px;
  border-style: double;
  border-width: 8px;
  border-radius: 10px;
  text-align: center;
  grid-template-areas:
    "playerRock playerSelection computerRock"
    "playerPaper winLoss computerPaper"
    "playerScissors computerSelection computerScissors";
}

.playerRock { 
  grid-area: playerRock;
}

.playerPaper { 
  grid-area: playerPaper;
}

.playerScissors { 
  grid-area: playerScissors;

}

.winLoss { grid-area: winLoss; }

.playerSelection { grid-area: playerSelection; }

.computerSelection { 
  grid-area: computerSelection; 
   
}

.computerRock { 
  grid-area: computerRock; 
}

.computerPaper { 
  grid-area: computerPaper; 
}

.computerScissors { 
  grid-area: computerScissors;
}

.gridButton{
  width: 300px;
  height: 250px;
  padding: 0px;
  border-width: 3px;
  border-radius: 15px;
  margin: 2px;
}

#playerRockButton{
  background-image: url(/images/rock.jpg);
}
